.main-header {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    }
.main-header .logo {
    height: 25px;
    }   

.main-header .main-nav {
    display: flex;
    gap: 30px;
    }
.main-header .link {
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: rgb(97, 97, 97);
    }

.main-header .link:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
    }
.main-header .link.active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    }