.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.hero .texts {
    width: 35%;
    
    }
.hero .badge {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    font-transform: uppercase; 
    font-weight: bold;
}
.hero .badge > svg {
    width: 20px;
    height: 20px;
    color: green;
}
.hero .main-title {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.hero .main-title > span {
    color: #1E78F0;
}

.hero .main-title:hover > .crazy {
    display: inline-block;
    color: #cf1010;
    border: 2px solid red;
    padding: 0px 10px 5px 10px;
    transform: rotate(-5deg);
    
}
.hero .description {
    font-size: 18px;
    color: grey
}
.hero .hero-img {
    width: 55%;
    
    }
