.hero {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    
}
.hero .texts {
    width: 35%;
    
    }
.hero .badge {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 14px;
    font-transform: uppercase; 
    font-weight: bold;
}
.hero .badge > svg {
    width: 20px;
    height: 20px;
    color: green;
}
.hero .main-title {
    font-size: 42px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
.hero .main-title > span {
    color: #1E78F0;
}

.hero .main-title:hover > .crazy {
    display: inline-block;
    color: #cf1010;
    border: 2px solid rgb(219, 121, 121);
    padding: 0px 10px 5px 10px;
    transform: rotate(-5deg);
    position: relative;
    
}
.hero .description {
    font-size: 18px;
    color: grey
}
.hero .hero-img {
    width: 55%;
    
    }

.crazy::before,
.crazy::after,
.crazy > .sqr::before,
.crazy > .sqr::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 2px;
    border: solid rgb(219, 121, 121) 2px;
    }

.crazy::before {
    top: -5px;
    left: -5px;
}
.crazy::after {
    top: -5px;
    right: -5px;
}
.crazy .sqr::before {
    bottom: -5px;
    left: -5px;
}
.crazy .sqr::after {
    bottom: -5px;
    right: -5px;
}