body {
    margin: 0;
    font-family: sans-serif;
    }
.container{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    }
main {
    margin-top: 60px;
    }
.main > .container + .container {
    margin-top: 60px;
    }