.trio-list {
    display: flex;
    gap: 30px;
}

.trio-list .trio {
    padding: 20px;
    background-color: #E9F3FF;
    border-radius: 20px;
    width: 150px;
}

.trio-list .trio:nth-child(2){
    background-color: #FAEFF6;
}
.trio-list .trio:nth-child(3){
    background-color: #F2ECFF;
}
.trio-list .img {
    display: block;
    width: 100%;
    height: 50px;
    object-fit: contain;
    object-position: left;
}

.trio-list .title {
    font-size: 18px;
    font-weight: bold;
}

.trio-list .description {
    font: 17px;
    color: #779ce5;
}
.trio-list .trio:nth-child(2)  .description {
    color:#c3648d;
    }

.trio-list .trio:nth-child(3)  .description{
    color:#8885f6;
    }