body {
    font-family: sans-serif;
    background-color: aquamarine;
    margin: 0;
    }

.container{
    display: inline-block;
    width: 800px;
    margin-left: calc(50% - 400px);
    
    }
header.container {
    display: flex;
    margin-top: 60px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    }
.logo {
    height: 25px;
    }   

.main-nav {
    display: flex;
    gap: 30px;
    }
.link {
    font-size: 20px;
    line-height: 1em;
    text-decoration: none;
    color: rgb(97, 97, 97);
    }

.link:hover {
    color:rgb(0, 0, 0);
    text-decoration: underline;
    }
.link.active {
    color: rgb(0, 0, 0);
    text-decoration: none;
    }
.btn {
    padding: 0.5em 1em;
    background-color: black;
    color:white;
    text-decoration: none;
    border-radius: 0.5em;
    font-size: 16px;
    border: 0.1emsolid black;
    }
.btn:hover {
    background-color: rgb(255, 255, 255);
    color: black;
    }
main {
    margin-top: 60px;
    }
.texts {
    width: 35%;
    float: left;
    }

.hero-img {
    width: 55%;
    float: right;
    }
 footer {
    display: inline-block;
    width: 100%;
    }
footer > div {
    float:left;
    width: 200px;
    margin-left: calc((100% - 200px * 3)/4);
    background-color: violet;
    }
.main {
    margin-top: 60px;
}
section.container > img {
    display: inline-block;
    margin-top: 60px;
    }
